{{/* The line below tells Intellij/GoLand to enable the autocompletion based *gen.Graph type. */}}
{{/* gotype: github.com/protobuf-orm/ent/entc/gen.Graph */}}

{{/* A template for adding additional config fields/options. */}}
{{ define "config/fields/httpclient" -}}
	// HttpClient field added by a test template.
	HttpClient *http.Client
{{ end }}

{{ define "config/options/httpclient" }}
	// HttpClient option added by a test template.
	func HttpClient(hc *http.Client) Option {
		return func(c *config) {
			c.HttpClient = hc
		}
	}
{{ end }}
